@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

header {
	padding: 40px;
	margin-bottom: 50px;
	height: 135px;

	background-color: #545454;
	color: #fff;

	box-shadow: 0px 2px 2px #ccc;
}

header > div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
	text-align: center;
}

h1 > label {
	font-size: 30px !important;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}


.ui-datatable-empty-message {
	text-align: center !important;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}
.grid-login{
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 30px;
}